body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1f1f1f;
}

.container {
    margin-top: 130px;
    background-color: #333333;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
}


.title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
}


label,
input,
h1{
    color: lightslategrey;
}


input[type="file"],
input[type="number"],
input[type="text"] {
    background-color: #444444;
    border: none;
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    color: #ffffff;
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

a{
    color: lightgrey;
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: #ccc;
    font-size: 14px;
    padding: 20px;
    border-radius: 6px;
    background-color: darkslategrey;

}

